body {
    margin: 0;
    background-image:url('https://wallpapercave.com/wp/wp9147294.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1, footer {
      text-align: center;
      color: white;
  }
  h2 {
    text-align: left;
    font-size: small;
    color: white;
  }
  
  /* Set background color for nav bar */
  .topnav {
    background-color: #6b4984;
    overflow: hidden;
    opacity: 95%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #926bae;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #432d52;
    color: white;
    opacity: 100%;
  }
  
  footer>a, footer>a:visited {
      text-decoration: none;
      color: white;
  }
  img {
    height: 200px;
    margin: auto;
  }
  
  h1 {
    text-shadow: 4px 4px 4px #000000;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .dayinthelifevideo{
    color:#000000;
  }
  
  .floatright {
    float: right;
    clear: right;
    margin: 10px;
  }
  
  #img-rotate {
    z-index: -1;
    position: relative;
    -ms-transform: rotate(345deg); 
    -webkit-transform: rotate(345deg); 
  }
  #video-rotate {
    -ms-transform: rotate(15deg); 
    -webkit-transform: rotate(15deg); 
    transform: rotate(15deg);
  }
  
  .sub-menu {
    display: none;
    width: 150px;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sub-menu li {
    list-style-type: none;
    display: block;
    border: 2px solid #add8e6;
    padding: 2px 5px;
    background: #d8d8d8;
    border-radius: 5px;
  }
  .sub-menu li:hover {
    border: 3px solid #bababa;
  }
  
  #logo-rotate {
    -webkit-transform: rotateY(180deg); 
    transform: rotateY(180deg);
  }
  
  #drop-menu {
    width: 150px;
    cursor: pointer;
    display: block;
    border: 2px solid #a1a1a1;
    padding: 5px;
    height: 20px;
    max-height: 20px;
    background: #add8e6;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    font-family: oregonfont;
    font-weight: bold;
    font-size: 85%;
    color: #0000a0;
  }
  
  #drop-menu:hover {
    border: 3px solid #bababa;
  }
  #drop-menu:hover .sub-menu {
    display: inline-block;
  }